body{
  background: linear-gradient(#80DEEA 0%, #F48FB1 100%);
  text-align: center;
}
.sections{
  padding: 40px;
  text-align: center;
}
h1{
  font-size: 35px;
  color: #FAFAFA;
}
#ac{
  width: 200px;
  }
#b{
  width: 300px;
}
#g{
  width: 400px;
}

#j{
  width: 250px;
  }
p{
  color:#FAFAFA ;
  font-size: 23px;
}
#kpop{
  width:500px ;
}
.menu{
    list-style: none;
    float: left;
    top: 10px;
    right: 30px;
    cursor: pointer;
    color: antiquewhite;
    font-size: 20px;
}
html{
    scroll-behavior: smooth;
}

#a{
    width: 200px;
}


.list:hover {
    font-size: 30px;
    color: aqua;
    
}

.pic {
    font-size:35px;
    color: aliceblue;
    font-family: inherit;
    margin-bottom:20px;
    margin-top: 20px;
}

.reviews{
    width: 100%;
    height: auto;
    
}
